*.o
*.dSYM
*.csv
*.out
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.swo
*.sw*
*.weight
*.nfs*
*.ipynb

*.tgz
dataset
dataset*
dataset/*
checkpoint/*
params/*
result/*
__pycache__
*.json
.ipynb_checkpoints
